.fullscreen-page {
  display: block;

  .centered-card {
    margin: 0;
  }

  @media (min-width: 731px) {
    display: flex;
    justify-content: center;
    align-items: center;

    .centered-card {
      max-width: 400px;
      width: 100%;
    }
  }
}
