.q-card {
  margin-bottom: 5px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.q-avatar img {
  width: 30px;
  height: 30px;
}

.text-h6 {
  font-weight: bold;
}

.bg-blue-5 {
  background-color: #2196f3 !important;
}

.bg-amber-5 {
  background-color: #ffc107 !important;
}

.bg-green-5 {
  background-color: #4caf50 !important;
}

.bg-orange-5 {
  background-color: #ff9800 !important;
}

.bg-red-5 {
  background-color: #f44336 !important;
}
